<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="NewObjectFromNavigationExample.Win"
			FileName="[WinAppBin]\NewObjectFromNavigationExample.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
    <!-- Win.MDI -->
    <Application
			Name="NewObjectFromNavigationExample.Win.MDI"
			FileName="[WinMdiAppBin]\NewObjectFromNavigationExample.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="NewObjectFromNavigationExample.Web"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="NewObjectFromNavigationExample.Web"
			Url="http://localhost/NewObjectFromNavigationExample.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="NewObjectFromNavigationExampleEasyTest"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v17.2" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v17.2" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\NewObjectFromNavigationExample.Win\Bin\EasyTest" />
    <Alias Name="WinMdiAppBin" Value="[ConfigPath]\..\..\NewObjectFromNavigationExample.Win.MDI\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\NewObjectFromNavigationExample.Web" />
	</Aliases>
</Options>
